repos:
- repo: local
  hooks:
  - id: flutter-analyze
    name: Flutter Analyze
    entry: flutter analyze --fatal-infos --fatal-warnings
    language: system
    pass_filenames: false
  - id: flutter-format
    name: Flutter Format
    entry: dart format --set-exit-if-changed lib test
    language: system
    pass_filenames: false